# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
.venv/
venv/
env/

# Environment Variables (Secrets)
.env
.env.*
!.env.example

# Docker files
Dockerfile
.dockerignore

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
tests/
data/
